 svg {
	 border: 0px solid lightgray;
 }
 
 body{
	 background-color: #3d3d5c;
 }
 
 h1 {
	 color: white;
	 text-align: center;
 }
 
 h2 {
	 color: white;
	 text-align: center;
	 
 } 
 
 p {
	 color: white;
	 text-align: center;
	 
 }
 
 div {
	 border: 0px solid lightgray;
 }
 
 div#citationBox {
	 padding: 10px;
	 margin: 10px;
	 min-width: 300px;
	 max-width: 300px;
	 max-height: 400px;
 }
 
 div#discBox {
	 padding: 10px;
	 margin: 10px;
	 max-width: 500px;

 }
 
